absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
apex @ file:///opt/pytorch/apex/dist/apex-0.1-cp312-cp312-linux_x86_64.whl#sha256=1594b75183e2fc6acf5cb2de0deb95ca320fa2d2eb4efe3310dc986c85c9aedd
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.0.5
attrs==25.4.0
audioread==3.1.0
babel==2.17.0
beautifulsoup4==4.14.3
black==25.12.0
bleach==6.3.0
build==1.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
cmake==3.31.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.4
datasets==4.4.2
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
dllist==2.0.0
dm-tree==0.1.9
docstring_parser==0.17.0
einops==0.8.1
execnet==2.1.2
executing==2.2.1
expecttest==0.3.0
fastjsonschema==2.21.2
filelock==3.20.3
flash_attn @ file:///opt/transfer/flash_attn-2.7.4.post1%2Bnv26.1.42222806-cp312-cp312-linux_x86_64.whl#sha256=58a9a3d07f8ec9c064085a75665f6df585c84cc1aea1c220fc732c6b6a65b25d
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.10.0
gast==0.6.0
grpcio==1.76.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.3.1
hypothesis==6.130.8
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
intel-openmp==2021.4.0
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
isort==7.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.1
jupyterlab_code_formatter==3.0.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_tensorboard_pro @ file:///builder/jupyterlab_tensorboard_pro-4.0.0-py2.py3-none-any.whl#sha256=1bd640de02c86e773f46d2c1bb34db38ed35bba35aedce9994d8750cf47a6887
jupytext==1.18.1
kiwisolver==1.4.9
lark==1.3.1
lazy_loader==0.4
librosa==0.11.0
lightning-thunder @ file:///opt/pytorch/lightning-thunder
lightning-utilities==0.15.2
lintrunner==0.12.11
llvmlite==0.46.0
looseversion==1.3.0
makefun==1.16.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.2.0
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
ml_dtypes==0.5.4
mock==5.2.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.18
mypy_extensions==1.1.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
ninja==1.13.0
notebook==7.5.1
notebook_shim==0.2.4
numba==0.63.1
numpy==2.1.0
nv-one-logger-core==2.3.1
nv-one-logger-training-telemetry==2.3.1
nvfuser @ file:///opt/pytorch/fuser/python
nvidia-cuda-runtime-cu13==0.0.0a0
nvidia-cudnn-frontend @ file:///opt/pytorch/lightning-thunder/tmp/cudnn_frontend
nvidia-dali-cuda130==1.53.0
nvidia-libnvcomp-cu13==5.1.0.21
nvidia-ml-py==13.590.44
nvidia-modelopt @ file:///tmp/modelopt/nvidia_modelopt-0.40.0-py3-none-any.whl#sha256=0315f53aef014b902866e427038db5803e3c6787a8e1f09c3650031550885051
nvidia-nvimgcodec-cu13==0.7.0.49
nvidia-nvjpeg==13.0.2.28
nvidia-nvjpeg2k-cu13==0.9.1.47
nvidia-nvtiff-cu13==0.6.0.78
nvidia-resiliency-ext @ file:///tmp/nvrx/nvidia_resiliency_ext-0.5.0-cp312-cp312-manylinux_2_39_x86_64.whl#sha256=eb720cd25feabef07f971d4051c7bcac2f9ec73642a9031953d2663307950cb9
nvtx==0.2.14
onnx @ file:///opt/pytorch/pytorch/third_party/onnx
onnx-ir==0.1.14
onnxscript==0.5.7
opt_einsum==3.4.0
optree==0.18.0
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pathspec==1.0.3
pexpect==4.9.0
pillow==12.1.0
platformdirs==4.5.1
pluggy==1.6.0
polygraphy==0.49.26
pooch==1.8.2
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.4
psutil==7.2.1
ptyprocess==0.7.0
PuLP==3.3.0
pure_eval==0.2.3
pyarrow==22.0.0
pybind11==3.0.1
pybind11-global==3.0.1
pycocotools @ git+https://github.com/nvidia/cocoapi.git@08350a157b41f0755a536441b5abec89ab934c5b#subdirectory=PythonAPI
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.1
pyproject_hooks==1.2.0
pytest==8.1.1
pytest-flakefinder==1.1.0
pytest-rerunfailures==16.1
pytest-shard==0.1.2
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
python_hostlist==2.3.0
pytokens==0.3.0
pytorch-triton @ file:///tmp/dist/pytorch_triton-3.6.0%2Bgit5261b273.nv26.1-cp312-cp312-linux_x86_64.whl#sha256=3accce8b60633422d9e9102050a4751a6b61a7f7ff16d67d3e72e97626c0ee5c
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
Send2Trash==2.0.0
setuptools==80.10.1
shellingham==1.5.4
six==1.16.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8.1
soxr==1.0.0
spin==0.15
stack-data==0.6.3
StrEnum==0.4.15
sympy==1.14.0
tabulate==0.9.0
tbb==2021.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorrt @ file:///workspace/TensorRT-10.14.1.48/python/tensorrt-10.14.1.48-cp312-none-linux_x86_64.whl#sha256=a5cf85f323da63a902f66869f5fbf07079bd1ca4e397b8810c1bf7cb4b19de76
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
tomli==2.3.0
torch @ file:///opt/transfer/torch-2.10.0a0%2Ba36e1d39eb.nv26.1.42222806-cp312-cp312-linux_x86_64.whl#sha256=04f1f9761a4b3d50442c0c1d8084e4edcc22c8eeaf677d7181cb11cd7816ff09
torch_tensorrt @ file:///opt/pytorch/torch_tensorrt/dist/torch_tensorrt-2.10.0a0-cp312-cp312-linux_x86_64.whl#sha256=43fa0fc36bedd30a2a0e1c5d5912128507d35427bd100efd9b0aedc6fcc5e4c8
torchao @ file:///opt/pytorch/ao
torchdata==0.11.0
torchprofile==0.0.4
torchtitan @ file:///opt/pytorch/torchtitan
torchvision @ file:///opt/transfer/torchvision-0.25.0a0%2B6b56de1c.nv26.1.42222806-cp312-cp312-manylinux_2_28_x86_64.whl#sha256=2f7d75d4a4059e1f700b0cdd22a3da006704e7be35e26ebc1c29a4ed7ab08061
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
transformer_engine @ file:///workspace/TransformerEngine
triton_kernels @ file:///tmp/dist/triton_kernels-1.0.0%2Bgit5261b273.nv26.1-py3-none-any.whl#sha256=707cd6ab19cf61398dff13baafcfb467defa4a07d8df65e131efed2223734a16
typeguard==4.4.4
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==1.0.3
tzdata==2025.3
uri-template==1.3.0
urllib3==2.6.3
uv==0.9.24
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.5
wheel==0.45.1
wrapt==2.0.1
xdoctest==1.0.2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
